/*
 * Charles-Antoine Mathieu <charles-antoine.mathieu@ovh.net>
 */

body {
}

#page-wrapper {
}

.countLabel {
    display: inline-block;
    margin-left: 3px;
}

.countLabelRight {
    display: inline-block;
    float: right;
    margin-left: 3px;
}

.menuHover:hover {
    font-weight: bold;
    text-decoration: underline;
}

.linkHover:hover {
    text-decoration: underline;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    vertical-align: top;
    margin: auto;
}

.top-counter
{
    margin: 8px 8px 8px 0px;
}

.page-title
{
    padding-right: 25px;
    padding-top: 2px;
    font-size: 18px;
}


.ml-sidebar {
    margin-left: 8rem;
}
.sidebar {
    width: 8rem;
}
.sidebar .nav-item .nav-link {
    width: 8rem;
}
.sidebar .nav-item .collapse {
    left: calc(8rem + 1.5rem / 2);
}
.sidebar.toggled {
    overflow: visible;
    width: 8rem !important;
}
.sidebar.toggled .nav-item .collapse {
    left: calc(8rem + 1.5rem / 2);
}
.sidebar.toggled .nav-item .nav-link {
    width: 8rem;
}

@media (min-width: 768px) {
    .ml-sidebar {
        margin-left: 18em !important;
    }
    .sidebar {
        width: 18rem !important;
    }
    .sidebar .nav-item .nav-link {
        width: 18rem;
    }
}

#content {
    margin-top: 70px;
}

.jump:before {
    padding-top: 70px;
    margin-top: -70px;
    content: "";
    display:block;
}

.cursor-alias {cursor: alias;}
.cursor-all-scroll {cursor: all-scroll;}
.cursor-auto {cursor: auto;}
.cursor-cell {cursor: cell;}
.cursor-context-menu {cursor: context-menu;}
.cursor-col-resize {cursor: col-resize;}
.cursor-copy {cursor: copy;}
.cursor-crosshair {cursor: crosshair;}
.cursor-default {cursor: default;}
.cursor-e-resize {cursor: e-resize;}
.cursor-ew-resize {cursor: ew-resize;}
.cursor-grab {cursor: -webkit-grab; cursor: grab;}
.cursor-grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.cursor-help {cursor: help;}
.cursor-move {cursor: move;}
.cursor-n-resize {cursor: n-resize;}
.cursor-ne-resize {cursor: ne-resize;}
.cursor-nesw-resize {cursor: nesw-resize;}
.cursor-ns-resize {cursor: ns-resize;}
.cursor-nw-resize {cursor: nw-resize;}
.cursor-nwse-resize {cursor: nwse-resize;}
.cursor-no-drop {cursor: no-drop;}
.cursor-none {cursor: none;}
.cursor-not-allowed {cursor: not-allowed;}
.cursor-pointer {cursor: pointer;}
.cursor-progress {cursor: progress;}
.cursor-row-resize {cursor: row-resize;}
.cursor-s-resize {cursor: s-resize;}
.cursor-se-resize {cursor: se-resize;}
.cursor-sw-resize {cursor: sw-resize;}
.cursor-text {cursor: text;}
.cursor-w-resize {cursor: w-resize;}
.cursor-wait {cursor: wait;}
.cursor-zoom-in {cursor: zoom-in;}
.cursor-zoom-out {cursor: zoom-out;}