<div ng-include="'partials/authority-menu.html'"></div>
<div ng-include="'partials/top.html'"></div>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div ng-show="waiting.length">
                <div class="card my-4">
                    <div class="card-header text-white bg-warning">
                        <span style="font-weight:bold;">
                            Clients waiting for approval
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Hostname</th>
                                        <th>Uuid</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="host in waiting | orderBy:['hostname']">
                                        <td>
                                            {{host.hostname}}
                                        </td>
                                        <td>
                                            {{host.uuid}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-block" ng-click="revoke(host)">
                                                Revoke
                                            </button>
                                            <button type="button" class="btn btn-success btn-block" ng-click="allow(host)">
                                                Allow
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="allowed.length">
            <div class="card my-4">
                <div class="card-header text-white bg-success">
                    <span style="font-weight:bold;">
                        Allowed clients
                    </span>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Hostname</th>
                                    <th>Uuid</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="host in allowed | orderBy:['hostname']"
                                    class="cursor-pointer" ng-click="goto.host(host.hostname)">
                                    <td>
                                        {{host.hostname}}
                                    </td>
                                    <td>
                                        {{host.uuid}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-block" ng-click="revoke(host)">
                                            Revoke
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>