<div ng-include="'partials/top-menu.html'"></div>
<div ng-include="'partials/authority-menu.html'"></div>

<div id="page-wrapper">
    <div class="row">
        <p></p>
    </div>
    <div class="row" ng-show="waiting.length">
        <div class="col-lg-12">
            <div class="panel panel panel-warning">
                <div class="panel-heading">
                    <span style="font-weight:bold;">
                        Clients waiting for approval
                    </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Hostname</th>
                                    <th>Uuid</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="host in waiting | orderBy:['hostname']">
                                    <td>
                                        {{host.hostname}}
                                    </td>
                                    <td>
                                        {{host.uuid}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-block" ng-click="revoke(host)">Revoke</button>
                                        <button type="button" class="btn btn-success btn-block" ng-click="allow(host)">Allow</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="allowed.length">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span style="font-weight:bold;">
                        Allowed clients
                    </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Uuid</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="host in allowed | orderBy:['hostname']">
                                <td>
                                    {{host.hostname}}
                                </td>
                                <td>
                                    {{host.uuid}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-block" ng-click="revoke(host)">Revoke</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
