<!--
  ~ Charles-Antoine Mathieu <charles-antoine.mathieu@ovh.net>
  -->

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li style="padding:10px">
                <button type="button" class="btn btn-success btn-block" ng-click="allow_all()">Allow all waiting clients</button>
            </li>
            <li style="padding:10px">
                <button type="button" class="btn btn-danger btn-block" ng-click="revoke_all()">Revoke all clients</button>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->