<div class="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark fixed-top">
        <div ng-include="'partials/top-menu.html'"></div>

        <div class="sidebar-heading pb-2">
            Group {{groupName}}
            <small class="badge {{ group.Level | badgeLevelCssFilter }}">
                {{group.Status}}
            </small>
        </div>

        <li class="nav-item" ng-repeat="host in hosts | orderBy:['-Status','Name']">
            <a class="nav-link py-1 cursor-pointer" ng-click="goto.anchor(host.Name)">
                <i class="fas fa-fw fa-table"></i>
                <span>
                    {{host.Name}}
                    <small style="color:red;" ng-show="!host.IsAlive">
                        {{host.Message}}
                    </small>
                </span>
                <small ng-repeat="(countName, count) in host.counts" ng-show="count"
                      class="badge {{ countName | badgeLevelCssFilter }}">
                    {{count}}
                </small>
            </a>
        </li>
    </ul>
</div>