<div ng-include="'partials/group-menu.html'"></div>
<div ng-include="'partials/top.html'"></div>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div id="{{host.Name}}" class="jump" ng-repeat="host in hosts | orderBy:['-Status','Name']">
                <div class="card my-4">
                    <div class="card-header text-white cursor-pointer {{ host.Level | bgLevelCssFilter }}"
                         ng-click="goto.host(host.Name)">
                        <span class="cursor-pointer" style="font-weight:bold;">
                            {{host.Name}}
                        </span>
                        <span ng-repeat="(countName, count) in host.counts" ng-show="count"
                              class="badge badge-light mr-1 {{ countName | textLevelCssFilter }}">
                            {{count}}
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Probe</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer {{ probe.Status | statusTableRowCssFilter }}"
                                        ng-repeat="probe in host.Probes | orderBy:['-Status','Name']"
                                        ng-click="goto.probe(host.Name,probe.Name)">
                                        <td>
                                            {{probe.Name}}
                                        </td>
                                        <td>
                                            {{probe.Message}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>