<div class="sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <div class="nav list-group" id="side-menu">
            <div href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Group</h4>
                <p class="list-group-item-text">{{group}}</p>
            </div>
            <a ng-repeat="host in hosts | orderBy:['-Status','Name']" class="list-group-item" ng-click="goto.anchor(host.Name)">
                <span ng-click="goto.host(host.Name)">
                    {{host.Name}}
                </span>
                <span ng-repeat="(countName, count) in host.counts" ng-show="count && (countName == 'WARNING' || countName == 'CRITICAL' || countName == 'ERROR')" class="badge {{ countName | badgeLevelCssFilter }}">
                    {{count}}
                </span>
            </a>
        </div>
    </div>
</div>
