<!--
  ~ Charles-Antoine Mathieu <charles-antoine.mathieu@ovh.net>
  -->

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div ng-include="'partials/top-menu.html'"></div>
    <div ng-include="'partials/group-menu.html'"></div>
</nav>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-lg-1 col-md-3" ng-repeat="level in ['OK','INFO','WARNING','CRITICAL','ERROR']">
            <div class="panel {{ level | panelLevelCssFilter }}">
                <div class="panel-heading">
                    <div class="row">
                        <div style="text-align:center;">
                            <strong>{{level}}</strong>
                        </div>
                    <div style="text-align:center;">
                        <div class="huge">
                            {{counts[level]}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row" ng-repeat="host in hosts | orderBy:['-Status','Name']">
        <div class="col-lg-12">
            <div class="panel {{ host.Status | getLevel | panelLevelCssFilter }}">
                <div id="{{host.Name}}"class="panel-heading">
                    <strong class="text-capitalize">{{host.Name}}</strong>
                    <button ng-show="host.counts['ERROR']" type="button" class="btn btn-default btn-circle countLabel">
                        {{host.counts['ERROR']}}
                    </button>
                    <button ng-show="host.counts['CRITICAL']" type="button" class="btn btn-danger btn-circle countLabel">
                        {{host.counts['CRITICAL']}}
                    </button>
                    <button ng-show="host.counts['WARNING']" type="button" class="btn btn-warning btn-circle countLabel">
                        {{host.counts['WARNING']}}
                    </button>
                    <button ng-show="host.counts['INFO']" type="button" class="btn btn-primary btn-circle countLabel">
                        {{host.counts['INFO']}}
                    </button>
                    <button ng-show="host.counts['OK']" type="button" class="btn btn-success btn-circle countLabel">
                        {{host.counts['OK']}}
                    </button>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Probe</th>
                                <th>Message</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="{{ probe.Status | statusTableRowCssFilter }}"
                            ng-repeat="probe in host.Probes | orderBy:['-Status','Name']">
                                <td>{{probe.Name}}</td>
                                <td>{{probe.Message}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->