<div ng-include="'partials/top-menu.html'"></div>
<div ng-include="'partials/host-menu.html'"></div>

<div id="page-wrapper">
    <div class="row" ng-repeat="probe in probes | orderBy:['-Status','Name']">
        <div class="panel {{ probe.Level | panelLevelCssFilter }}">
            <div id="{{probe.Name}}" class="panel-heading">
                <strong>{{probe.Name}}</strong>
            </div>
            <div class="panel-body">
                <p>
                    {{ probe.Message }}
                </p>
                <p>
                    <pre>{{ probe.Detail | json }}</pre>
                </p>
            </div>
        </div>
    </div>
</div>
