<!--
  ~ Charles-Antoine Mathieu <charles-antoine.mathieu@ovh.net>
  -->

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div ng-include="'partials/top-menu.html'"></div>
    <div ng-include="'partials/host-menu.html'"></div>
</nav>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-lg-1 col-md-3" ng-repeat="level in ['OK','INFO','WARNING','CRITICAL','ERROR']">
            <div class="panel {{ level | panelLevelCssFilter }}">
                <div class="panel-heading">
                    <div class="row">
                        <div style="text-align:center;">
                            <strong>{{level}}</strong>
                        </div>
                        <div style="text-align:center;">
                            <div class="huge">
                                {{counts[level]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->