<div ng-include="'partials/hosts-menu.html'"></div>
<div ng-include="'partials/top.html'"></div>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div id="{{group.Name}}" class="jump" ng-repeat="group in groups | orderBy:['-Status','Name']">
                <div class="card my-4">
                    <div class="card-header text-white cursor-pointer {{ group.Level | bgLevelCssFilter }}"
                         ng-click="goto.group(group.Name)">
                        <span>
                            {{group.Name}}
                        </span>
                            <span ng-repeat="(countName, count) in group.counts" ng-show="count"
                                  class="badge badge-light mr-1 {{ countName | textLevelCssFilter }}">
                            {{count}}
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Hostname</th>
                                        <th>Probes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="{{ host.Status | statusTableRowCssFilter }}"
                                        ng-repeat="host in group.Hosts | orderBy:['-Status','Name']">
                                        <td class="cursor-pointer" ng-click="goto.host(host.Name)">
                                            <span>
                                                {{host.Name}}
                                            </span>
                                            <strong style="color:red;" ng-show="!host.IsAlive">
                                                {{host.Message}}
                                            </strong>
                                        </td>
                                        <td>
                                            <span class="cursor-pointer mr-1 badge {{ probe.Level | badgeLevelCssFilter }}"
                                                  ng-click="goto.probe(host.Name, probe.Name)"
                                                  ng-repeat="probe in host.Probes | orderBy:['-Status','Name']"
                                                  title="{{probe.Message}}">
                                                {{probe.Name}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>