<div class="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark fixed-top">
        <div ng-include="'partials/top-menu.html'"></div>

        <div class="sidebar-heading pb-2">
            Host {{hostName}}
            <small style="color:red;" ng-show="!host.IsAlive">
                {{host.GlobalMessage}}
            </small>
            <small class="badge {{ host.GlobalLevel | badgeLevelCssFilter }}">
                {{host.GlobalStatus}}
            </small>
        </div>

        <li class="nav-item" ng-repeat="probe in probes | orderBy:['-Status','Name']">
            <a class="nav-link py-1 cursor-pointer" ng-click="goto.anchor(probe.Name)">
                <i class="fas fa-fw fa-table"></i>
                <span>
                    {{probe.Name}}
                </span>
                <small class="badge {{ probe.Level | badgeLevelCssFilter }}">
                    {{probe.Status}}
                </small>
            </a>
        </li>
    </ul>
</div>