<div class="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark fixed-top">
        <div ng-include="'partials/top-menu.html'"></div>

        <div class="sidebar-heading pb-2">
            All hosts & groups
        </div>

        <li class="nav-item" ng-repeat="group in groups |orderBy:['-Status','Name']">
            <a class="nav-link py-1 cursor-pointer" ng-click="goto.anchor(group.Name)">
                <i class="fas fa-fw fa-table"></i>
                <span>
                    {{group.Name}}
                </span>
                <small ng-repeat="(countName, count) in group.counts" ng-show="count"
                       class="badge {{ countName | badgeLevelCssFilter }}">
                    {{count}}
                </small>
            </a>
        </li>
    </ul>
</div>