<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div ng-include="'partials/top-menu.html'"></div>
    <div ng-include="'partials/hosts-menu.html'"></div>
</nav>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-lg-1 col-md-3" ng-repeat="level in ['OK','INFO','WARNING','CRITICAL','ERROR']">
            <div class="panel {{ level | panelLevelCssFilter }}">
                <div class="panel-heading">
                    <div class="row">
                        <div style="text-align:center;">
                            <strong>{{level}}</strong>
                        </div>
                        <div style="text-align:center;">
                            <div class="huge">
                                {{counts[level]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row" ng-repeat="group in groups | orderBy:['-Status','Name']">
        <div class="col-lg-12">
            <div class="panel {{ group.Level | panelLevelCssFilter }}">
                <div id="{{group.Name}}"class="panel-heading">
                    <span ng-click="goto.group(group.Name)" class="linkHover" style="font-weight:bold;">
                        {{group.Name}}
                    </span>
                    <button ng-show="group.counts['ERROR']" type="button" class="btn btn-default btn-circle countLabel">
                        {{group.counts['ERROR']}}
                    </button>
                    <button ng-show="group.counts['CRITICAL']" type="button" class="btn btn-danger btn-circle countLabel">
                        {{group.counts['CRITICAL']}}
                    </button>
                    <button ng-show="group.counts['WARNING']" type="button" class="btn btn-warning btn-circle countLabel">
                        {{group.counts['WARNING']}}
                    </button>
                    <button ng-show="group.counts['INFO']" type="button" class="btn btn-primary btn-circle countLabel">
                        {{group.counts['INFO']}}
                    </button>
                    <button ng-show="group.counts['OK']" type="button" class="btn btn-success btn-circle countLabel">
                        {{group.counts['OK']}}
                    </button>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Probes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="{{ host.Status | statusTableRowCssFilter }}"
                            ng-repeat="host in group.Hosts | orderBy:['-Status','Name']">
                                <td>
                                    <span ng-click="goto.host(host.Name)" class="linkHover">
                                        {{host.Name}}
                                    </span>
                                    <strong style="color:red" ng-show="!host.IsAlive">
                                        &nbsp;DOWN
                                    </strong>
                                </td>
                                <td>
                                    <a ng-click="goto.probe(host.Name, probe.Name)" ng-repeat="probe in host.Probes | orderBy:['-Status','Name']">
                                        <span
                                            class="probeLabel label {{ probe.Level | labelLevelCssFilter }}"
                                            popover="{{probe.Message}}" popover-trigger="mouseenter">
                                            {{probe.Name}}
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->