<div class="sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <div class="nav list-group" id="side-menu">
            <div href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Host</h4>
                <p class="list-group-item-text">{{host}}</p>
            </div>
            <a ng-repeat="probe in probes | orderBy:['-Status','Name']" class="list-group-item" ng-click="goto.anchor(probe.Name)">
                <span>
                    {{probe.Name}}
                </span>
                <span class="badge {{ probe.Level | badgeLevelCssFilter }}">
                    {{probe.Status}}
                </span>
            </a>
        </div>
    </div>
</div>
