<!--
  ~ Charles-Antoine Mathieu <charles-antoine.mathieu@ovh.net>
  -->

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li ng-repeat="group in groups | orderBy:['-Status','Name']">
                <a ng-click="goto(group.Name)">
                    <span ng-click="gotoGroup(group.Name)" class="menuHover" class="text-capitalize" style="font-size:16px;">
                        {{group.Name}}
                    </span>
                    <button ng-show="group.counts['WARNING']" type="button" class="btn btn-warning btn-circle countLabelRight">
                        {{group.counts['WARNING']}}
                    </button>
                    <button ng-show="group.counts['CRITICAL']" type="button" class="btn btn-danger btn-circle countLabelRight">
                        {{group.counts['CRITICAL']}}
                    </button>
                    <div style="clear: both;"></div>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->