<div ng-include="'partials/host-menu.html'"></div>
<div ng-include="'partials/top.html'"></div>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div id="{{probe.Name}}" class="jump" ng-repeat="probe in probes | orderBy:['-Status','Name']">
                <div class="card my-4">
                    <div class="card-header text-white {{ probe.Level | bgLevelCssFilter }}">
                        <strong>{{probe.Name}}</strong>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ probe.Message }}
                        </p>
                        <p>
                            <pre class="border rounded p-2 bg-light">{{ probe.Detail | json }}</pre>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
