<div class="sidebar" role="navigation">
    <div class="sidebar-nav">
        <div class="nav list-group" id="side-menu">
            <div href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Hosts</h4>
                <p class="list-group-item-text">All hosts & groups</p>
            </div>
            <a ng-repeat="group in groups |orderBy:['-Status','Name']" class="list-group-item" ng-click="goto.anchor(group.Name)">
                <span ng-click="goto.group(group.Name)">
                    {{group.Name}}
                </span>
                <span ng-repeat="(countName, count) in group.counts" ng-show="count && (countName == 'WARNING' || countName == 'CRITICAL' || countName == 'ERROR')" class="badge {{ countName | badgeLevelCssFilter }}">
                    {{count}}
                </span>
            </a>
        </div>
    </div>
</div>
