<!--
  ~ Charles-Antoine Mathieu <charles-antoine.mathieu@ovh.net>
  -->

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" ng-model="menu.search" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li class="sidebar-search">
                <select ng-model="menu.level" ng-options="level for level in logLevels" class="form-control" >
                </select>
            </li>
            <li class="sidebar-search" ng-show="menu.group">
                Group : {{menu.group}} <i class="fa fa-times" ng-click="remove_group()"></i>
            </li>
            <li class="sidebar-search" ng-show="menu.host">
                Host : {{menu.host}} <i class="fa fa-times" ng-click="remove_host()"></i>
            </li>
            <li class="sidebar-search" ng-show="menu.probe">
                Probe : {{menu.probe}} <i class="fa fa-times" ng-click="remove_probe()"></i>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->