<div ng-include="'partials/logs-menu.html'"></div>
<div ng-include="'partials/top.html'"></div>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="card card-default my-4">
                <div class="card-header">
                    <strong>Logs</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Group</th>
                                    <th>Host</th>
                                    <th>Probe</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="{{ log.Level | logLevelTableRowCssFilter:menu }}" ng-repeat="log in logs 
                                | filter:{ Group:menu.group, Host:menu.host, Probe:menu.probe }
                                | logLevelFilter:menu.level
                                | filter:menu.search
                                | orderBy:'-Timestamp'">
                                    <td>{{ log.Timestamp * 1000 | date:'short' }}</td>
                                    <td class="cursor-pointer" ng-click="set_group(log.Group)">
                                        <span class="cursor-pointer" ng-click="goto.group(log.Group)">
                                            {{ log.Group }}
                                        </span>
                                    </td>
                                    <td class="cursor-pointer" ng-click="set_host(log.Host)">
                                        <span class="cursor-pointer" ng-click="goto.host(log.Host)">
                                            {{ log.Host }}
                                        </span>
                                    </td>
                                    <td class="cursor-pointer" ng-click="set_probe(log.Probe)">
                                        <span class="cursor-pointer" ng-click="goto.probe(log.Host,log.Probe)">
                                            {{ log.Probe }}
                                        </span>
                                    </td>
                                    <td>{{ log.Message }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-11">
                                <button class="btn btn-primary btn-xs" ng-show="offset >= limit" ng-click="prev()">prev</button>
                                <button class="btn btn-primary btn-xs" ng-click="next()">next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
